{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Reset Password</span></h2>
        {% include 'includes/messages.html' %}
    </div>
    <div class="text-center">
        <div class="contact-form">
            <div id="success"></div>
            <form action="{% url 'resetPassword' %}" method="post"> {% csrf_token %}
                <div class="control-group">
                    <input type="password" class="form-control" id="email" name="password" placeholder="Your password" required="required"
                        data-validation-required-message="Please enter your password" />
                    <p class="help-block text-danger"></p>
                </div>
                <div>
                    <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}